{% extends "base.html" %}

{% block content %}
    <h1 class="display-4">Лучшие сериалы 2025 года</h1>
    <p class="lead">Добро пожаловать на сайт, посвященный самым популярным сериалам 2025 года!</p>
    <p>Здесь вы найдете информацию о лучших сериалах, которые стоит посмотреть в этом году.</p>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Почему именно наш сайт?</h5>
            <p class="card-text">
                Мы собрали для вас самые интересные, захватывающие и популярные сериалы, которые уже успели покорить сердца миллионов зрителей.
            </p>
        </div>
    </div>
{% endblock %}